body {
 display:flex
    flex-direction: column;
    justify-content: center;
    align-items: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("background.webp");
}
.text-center{
    margin-top : 100px
  }
  .btn-main{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;

  }
  .main-img{
  height:10px;
  width:20px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
  margin-bottom: 50px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
   margin-bottom: 50px;

}
.input-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 500px;
    margin: auto;
    }

.form-url {

    height: 50px;
    width: 600px;
    margin-bottom: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    border: 1px solid rgba(175,185,197,.36);
    border-radius: 4px;
    background-color: #fff;
    color: #161c34;
    font-size: 20px;
    line-height: 28px;
}

.btn-submit{

    padding: 11px 30px;
    border-radius: 4px;
    background-color: #2281c2;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

.flash-message {
    height: 50px;
    width: 200px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.short-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.display-box{
    width: 100px;
  padding: 10px;
  background: white;
  text-align: center
}
 h4 {
    margin-top: 50px;
 }

 .main-img {
   height: 280px;
   width: 300px;
   border-radius: 50%;
   margin-bottom: 30px;
 }

 .red-box {
    height: 50px;
    width: 100px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    margin-top: 30px;
 }

 .display-box2{
    margin-top: 30px;
    width: 200px;
  padding: 10px;
  background: white;
  text-align: center
 }

.login-form {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
}

.table-in-box{
    border: 2px solid transparent;
}

.Container {
    width: auto;
    min-width: 100px;
    margin: auto;
}

.navbar-for-all {
    overflow: hidden;
    width: auto;
    min-width: 500px;
    margin: auto;
}